{% extends 'base.html' %}
{% block title %}Upload{% endblock %}
{% load static %}
{% block content %}
<pre id="article" class="article">{{text}}</pre>
<div>
  <table id="object-table">
    <tr>
      <th>Name</th>
      <th>Label</th>
    </tr>
  </table>
  <button id="create-objects-button">Create Objects</button>
</div>
<nav class="context-menu">
  <div class="vertical-menu">
    <form method="post" id="myForm">
      <div class="center-text classify-text"><span id="to-classify-text"></span></div>
    {% csrf_token %}
    <button class="label-button" href="#">Event</button>
    <button class="label-button" href="#">Actor</button>
    <button class="label-button" href="#">Location</button>
    <button class="label-button" href="#">Region</button>
    <button class="label-button" href="#">Country</button>
    <button class="label-button" href="#">Source</button>
    </form>
  </div>
</nav>
<script type="text/javascript" src="{% static 'import/select_objects_to_import.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'import/select_objects_to_import.css'%}" />
{% endblock %}
