{% extends 'base.html' %}
{% block title %}Upload{% endblock %}
{% load static %}
{% block content %}
<pre id="article" class="article">{{text}}</pre>

<nav class="context-menu">
  <div id="to-classify-text"></div></div>
  <div class="vertical-menu">
    <button class="label-button" href="#">Actor</button>
    <button class="label-button" href="#">Location</button>
    <button class="label-button" href="#">Region</button>
    <button class="label-button" href="#">Country</button>
    <button class="label-button" href="#">Source</button>
  </div>
</nav>
<script type="text/javascript" src="{% static 'import/select_objects_to_import.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'import/select_objects_to_import.css'%}" />

{% endblock %}
